version: "3.7"

services:

  database:

    image: "mongo:latest"

    container_name: "wiki_scraper_db"

    environment:
      - MONGO_INITDB_DATABASE=DB

    volumes:
      - ./DB/mongo:/data/db

    ports:
      - "27017-27019:27017-27019"